.name{
    background-color: aqua;
}
#two{
    background-color:aquamarine;
}
.three{
    background-color: blue;
    color: aliceblue;
}
.four{
    background-color: brown;
    color: black;
}
.five{
    background-color: aquamarine;
}
.six{
    background-color: blueviolet;
}
.seven{
    background-color: aqua;
}
.eight{
    background-color: yellow
}
.nine{
    background-color: blueviolet;
}